<?xml version="1.0"?>

<model>
  <name>robotics_gym</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Emmanuel Larralde</name>
    <email>ealarralde@gmail.com</email>
  </author>

  <description>
    A simple scenario with many obstacles for a ground mobile robot.
  </description>
</model>
